.imageWrapper {
  grid-area: image;
  max-width: 100%;
}

.image {
  max-width: 100%;
}

.separator {
  border-top: 1px solid hsl(var(--clr-white) / .4);
}

.tabs {
  grid-area: tabs;
}
.content {
  grid-area: content;
}

.content > * {
  --flow-space: 1rem;
}

.role {
  color: hsl(var(--clr-white) / 0.5);
}

@media (max-width: 35em) {
  .image {
    max-height: 320px;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .imageWrapper {
    grid-column: span 2;
    max-width: 90%;
  }

  .tabs, .content {
    justify-self: start;
  }
}
