.imageWrapper {
  grid-area: image;
}

.separator {
  border-top: 1px solid hsl(var(--clr-white) / .4);
}

.tabs {
  grid-area: tabs;
}

.content {
  grid-area: content;
}

.content > * {
  --flow-space: 1rem;
}

.role {
  color: hsl(var(--clr-white) / 0.5);
}

@media (max-width: 35em) {
  .image {
    max-height: 320px;
  }
}

@media (min-width: 35em) {
  .imageWrapper::after {
    display: none;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .imageWrapper {
    align-self: end;
  }

  .tabs, .content {
    justify-self: start;
  }
}
