/* -------------------------------- */
/* Utility Classes                  */
/* -------------------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

@media (orientation: portrait), (max-width: 50em) {
  .justifyContentCenterPortrait {
    justify-content: center;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .justifyContentStartLandscape {
    justify-content: start;
  }
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.dBlock {
  display: block;
}

.dNone {
  display: none;
}

/* 
    where selects all elements that can be selected by any selector inside the list
    but it has no specificity at all
 */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  max-width: 86rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.gridContainer {
  display: grid;
  place-items: center;
  row-gap: 4rem;
  padding-inline: 2rem;
  padding-block: 1rem 4rem;
}

/* ch is roughly the width of the zero(0) character */

.gridContainer p {
  max-width: 50ch;
  margin-inline: auto;
}

@media (min-width: 35em) {
  .gridContainer {
    padding-block: 7rem;
  }
}

@media (min-width: 50em) {
  .gridContainer {
    padding-inline: 0;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .gridContainer {
    padding-block: 4rem;
    row-gap: 0;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        2rem,
        1fr
      );
  }

  .gridContainer p {
    margin-inline: 0;
  }

  .gridContainer > *:first-child {
    grid-column: 2;
  }

  .gridContainer > *:last-child {
    grid-column: 3;
  }
}

.gridAlignContentCenter {
  display: grid;
  grid-template-rows: max-content max-content;
  align-content: center;
}

.srOnly {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.box {
  padding: 10px 20px;
  background-color: black;
  color: white;
}

/* colors */

.bgDark {
  background-color: hsl(var(--clr-dark));
}

.bgLight {
  background-color: hsl(var(--clr-light));
}

.bgWhite {
  background-color: hsl(var(--clr-white));
}

.textDark {
  color: hsl(var(--clr-dark));
}

.textLight {
  color: hsl(var(--clr-light));
}

.textWhite {
  color: hsl(var(--clr-white));
}

/* typography */

.ffSerif {
  font-family: var(--ff-serif);
}

.ffSansCond {
  font-family: var(--ff-sans-cond);
}

.ffSansNormal {
  font-family: var(--ff-sans-normal);
}

/* from biggest to the smallest */
.letterSpacing1 {
  letter-spacing: 4.75px;
}

.letterSpacing2 {
  letter-spacing: 2.7px;
}

.letterSpacing3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs900 {
  font-size: var(--fs-900);
}

.fs800 {
  font-size: var(--fs-800);
}

.fs700 {
  font-size: var(--fs-700);
}

.fs600 {
  font-size: var(--fs-600);
}

.fs500 {
  font-size: var(--fs-500);
}

.fs400 {
  font-size: var(--fs-400);
}

.fs300 {
  font-size: var(--fs-300);
}

.fs200 {
  font-size: var(--fs-200);
}

.fs900,
.fs800,
.fs700,
.fs600 {
  line-height: 1.1;
}

.textLeft {
  text-align: left;
}

.numberedTitle {
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-family: var(--ff-sans-cond);
}

.numberedTitle span {
  color: hsl(var(--clr-white) / 0.25);
  font-weight: 700;
  margin-inline-end: 0.5em;
}

/* spacing */
.mb100 {
  margin-bottom: 0.3em;
}
.mb200 {
  margin-bottom: 0.6em;
}
.mb300 {
  margin-bottom: 0.9em;
}
.mb400 {
  margin-bottom: 1.2em;
}
.mb500 {
  margin-bottom: 1.5em;
}

/* loading skeleton */

.skeleton {
  border-radius: 1rem;
  background-image: linear-gradient(
    to bottom right,
    hsl(230 35% 5%) 40%,
    hsl(230 35% 9%),
    hsl(230 35% 5%) 60%
  );
  background-size: 400% 400%;
  animation: gradient-flow 2s infinite;
  max-width: 43rem;
}

@keyframes gradient-flow {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

.inlineSkeleton {
  display: inline-block;
  height: 2rem;
  width: 100%;
}

.blockSkeleton {
  margin-inline: auto;
  display: block;
  height: 25rem;
  max-width: 86rem;
}