/* -------------------------------- */
/* Custom Properties                */
/* -------------------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-white: 0 0% 100%;
  --clr-light: 231 77% 90%;

  /* font-sizes */
  --fs-900: clamp(5rem, 10vmax + 1rem, 9.375rem); /* m */
  --fs-800: 3.5rem; /* m */
  --fs-700: 1.5rem; /* m */
  --fs-600: 1rem; /* m */
  --fs-500: 1rem; /* m */
  --fs-400: 0.9375rem; /* m */
  --fs-300: 1rem; /* m */
  --fs-200: 0.875rem; /* d */

  /* font-families */
  --ff-serif: var(--ff-bellefair), serif;
  --ff-sans-cond: var(--ff-barlow-condensed), sans-serif;
  --ff-sans-normal: var(--ff-barlow-normal), sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 50 em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* -------------------------------- */
/* Reset                            */
/* -------------------------------- */

/* box-sizing and margin */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html,
body {
  overflow-x: hidden;
  
  position: relative;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
}

.skipToContent {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 9999;

  background-color: hsl(var(--clr-white));
  border-radius: 0 0 .8rem 0;
  width: max-content;
  padding: 1rem;
  margin-inline: auto;
  
  color: hsl(var(--clr-dark));
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  transition: transform 300ms ease-in;
}

.skipToContent:focus {
  transform: translateY(0);
  opacity: 1;
}

.pageWrapper {
  min-height: 100vh;

  background-size: cover;
  background-position: center bottom;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* ------------------------------------------------- */
/* Page Specific Background Images                   */
/* ------------------------------------------------- */

.home {
  background-image: url("/assets/home/background-home-mobile.jpg");
}

.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
}

.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
}

.technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
}

/* tablet */

@media (min-width: 35em) {
  .home {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }

  .destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }

  .crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }

  .technology {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 35em) and (orientation: portrait) {
  .home {
    background-position: center;
  }
}

/* desktop */

@media (min-width: 50em) and (orientation: landscape) {
  .home {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }

  .destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }

  .crew {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }

  .technology {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
}

/* main */

main > * {
  height: 100%;
}

main {
  text-align: center;
}

@media (min-width: 50em) and (orientation: landscape) {
  main {
    text-align: left;
  }
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: contain;
  height: max-content;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
