.textWrapper h1 span {
  margin-block: .2em;
}

.textWrapper p {
  line-height: 1.66;
}

@media (min-width: 35em) {
  .textWrapper p {
    line-height: 1.75;
  }
}

@media (min-width: 45em) {
  .textWrapper h1 {
    text-wrap: nowrap;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .gridContainer {
    /* pushing it down to the bottom */
    --container-gap: 1rem;
    padding-block: 15rem max(7rem, 30vh);
    align-items: end;
    margin: 0;
  }

  .textWrapper p {
    margin: 0;
  }

  .textWrapper + * {
    margin-inline: 0;
    /* for the button to get close to the edge */
    justify-self: end; 
  }
}
