.content h1 span {
  margin-block: .2em;
}

.content p {
  line-height: 1.66;
}

@media (min-width: 35em) {
  .content p {
    line-height: 1.75;
  }
}

@media (min-width: 45em) {
  .content h1 {
    text-wrap: nowrap;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .content p {
    margin: 0;
  }

  .content + * {
    margin-inline: 0;
    /* for the button to get close to the edge */
    justify-self: end; 
  }
}
