.gridContainer > picture {
  grid-area: image;
  max-width: 60%;
}

.tablist {
  grid-area: tabs;
}

.destinationInfo {
  grid-area: content;
}

.destinationMeta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / .5);
  padding-top: 2rem;
  margin-top: 2rem;
  text-wrap: nowrap;
}

.destinationMeta p {
  font-size: 1.75rem;
}

@media (min-width: 35em) {
  .destinationMeta {
    --gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .gridContainer > picture {
    max-width: 100%;
    justify-self: center;
  }

  .destinationMeta {
    --gap: 5rem;
    justify-content: start;
  }
}
