.primaryHeader {
  padding-inline: 2rem;
  justify-content: space-between;
  align-items: center;
}

.primaryHeader .line {
  display: none;
}

.primaryNavigation {
  --underline-gap: 2rem;
  --gap: 1.1rem clamp(1.5rem, 5vw, 3rem);

  list-style: none;
  backdrop-filter: blur(2.5rem);
  background-color: hsl(var(--clr-light) / 0.1);
  padding-inline-start: 2.5rem;
}

.primaryNavigation a {
  text-decoration: none;
}

.primaryNavigation a > span {
  color: hsl(var(--clr-white));
  font-weight: 700;
  margin-inline-end: 0.3em;
}

.mobileNavToggle {
  display: none;
}

/* -------------------------------- */
/* Mobile Navigation                */
/* -------------------------------- */

@media (max-width: 35em) {
  .primaryHeader {
    height: 5.7rem;
  }

  .primaryNavigation {
    --underline-gap: 0.15rem;
    flex-direction: column;

    padding-block-start: min(10rem, 18vh);

    position: fixed;
    inset: 0 0 0 30vw;
    z-index: 99;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .primaryNavigation.active {
    transform: translateX(0%);
  }

  .primaryNavigation.underlineIndicators > * {
    border: 0;
  }

  .primaryNavigation.underlineIndicators > .active {
    border-inline-end: 3px solid hsl(var(--clr-white));
  }

  .primaryNavigation.underlineIndicators > *:hover,
  .primaryNavigation.underlineIndicators > *:focus {
    border-inline-end: 3px solid hsl(var(--clr-white) / 0.5);
  }

  .mobileNavToggle {
    display: block;

    position: absolute;
    top: 2.31rem;
    right: 2rem;
    z-index: 999;

    width: 1.5rem;
    aspect-ratio: 1;

    background-image: url("/assets/shared/icon-hamburger.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  .mobileNavToggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }

  .mobileNavToggle[aria-expanded="true"] {
    background-image: url("/assets/shared/icon-close.svg");
    position: fixed;
  }
}

/* -------------------------------- */
/* Tablet Navigation                */
/* -------------------------------- */

@media (min-width: 35em) {
  .primaryHeader {
    padding-inline-end: 0;
  }

  .primaryNavigation > .active {
    border-color: transparent;
  }

  .primaryNavigation {
    position: static;

    padding-inline: clamp(2.5rem, 8vw, 7rem);
  }

  .primaryNavigation a > span {
    display: none;
  }
}

/* -------------------------------- */
/* Desktop Navigation               */
/* -------------------------------- */

@media (min-width: 50em) and (orientation: landscape), (min-width: 55em) {
  .primaryHeader {
    --gap: 0;
    padding-top: 3rem;
  }

  .primaryHeader::after {
    content: "";
    display: block;
    width: 100%;
    order: 1;

    height: 1px;
    background-color: hsl(var(--clr-white));
    transform: translateX(clamp(1rem, 4vw, 3rem));
    position: relative;
    z-index: 999;
  }

  .primaryHeader nav {
    order: 2;
  }

  .primaryNavigation {
    position: relative;
  }

  .logoWrapper,
  .primaryHeader nav {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .primaryNavigation a > span {
    display: inline;
  }
}
