.gridContainer > picture {
   grid-area: image;
}

.content {
   flex-direction: column;
   --gap: 2rem;
   padding-inline: 2rem;
   grid-area: content;
}

.tablist {
   --gap: 1rem;
}

.terminology {
  --flow-space: .5rem;
}

.tabpanelContent {
   --flow-space: 1rem;
}

@media (min-width: 35em) {
   .terminology {
      --flow-space: .8rem;
    }

    .numberedTitle {
      padding-inline: 2rem;
    }
}

@media (min-width: 50em) and (orientation: landscape) {
   .gridContainer > picture {
      grid-column: span 2;
   }

   .content {
      flex-direction: row;
   }
   
   .tablist {
      --gap: 1.5rem;
      flex-direction: column;
      justify-content: center;
   }
}